<launch>
  <arg name="world" default="square2wall.world"/> 
  <arg name="model" default="nexus.urdf" />
  <arg name="x_pos" default="0.5"/>
  <arg name="y_pos" default="0.5"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find virtual_slam)/worlds/$(arg world)"/>
  </include>

  <param name="robot_description" textfile="$(find gopigo3_description)/urdf/$(arg model)" />
  
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"
    args="-urdf -model nexus -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

</launch>
