<launch>
  <arg name="lidar_model" default="yd"/>
  <arg name="model" default="gopigo3" />
  <arg name="map_file" default="Hospital"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  
  <param if="$(eval lidar_model=='yd')"
    name="robot_description"
    textfile="$(find gopigo3_description)/urdf/$(arg model).urdf" />

  <param if="$(eval lidar_model=='rp')"
    name="robot_description"
    textfile="$(find gopigo3_description)/urdf/$(arg model)rp.urdf" />

  
  <node pkg="map_server" name="map_server" type="map_server" args="$(find gopigo3_slam)/maps/$(arg map_file).yaml"/>
  
  <include file="$(find gopigo3_slam)/launch/amcl.launch"/>
  
  <node if="$(eval lidar_model=='yd')" pkg="tf" type="static_transform_publisher" name="base_link_to_base_scan"
        args="-0.03 0.01 0.15 3.1416  0.0 0.0   /base_link /base_scan 40" /> 

<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value=""/>
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <include file="$(find gopigo3_slam)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find gopigo3_slam)/rviz/navigation.rviz"/>
  </group>
</launch>
