<launch>
  <arg name="model" default="gopigo3.urdf" />
  <param name="robot_description" textfile="$(find gopigo3_description)/urdf/$(arg model)" />

  <!-- joint state -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>
  <!-- robot state -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <include file="$(find gopigo3_node)/launch/gopigo3.launch"/>
  <include file="$(find gopigo3_description)/launch/rplidar.launch"/>
  <include file="$(find raspicam_node)/launch/camerav2_1280x960_10fps.launch">
	<arg name="enable_raw" value="true"/>
	<arg name="camera_frame_id" value="base_scan"/>
  </include>
</launch>
