<launch>
  <arg name="kp" default="5" />
  <arg name="distance_reference" default="0.2" />
  <arg name="lookahead_distance" default="0.2" />
  <arg name="theta" default="50" />
  <arg name="forward_speed" default="0.04" />
  <node name="wall_follower_controller" pkg="rubot_control" type="rubot_wall_follower_gm.py" output="screen" >
        <param name="kp" value="$(arg kp)"/>
        <param name="distance_reference" value="$(arg distance_reference)"/>
        <param name="lookahead_distance" value="$(arg lookahead_distance)"/>
        <param name="theta" value="$(arg theta)"/>
        <param name="forward_speed" value="$(arg forward_speed)"/>
  </node>
</launch>